<%- include("partials/header.ejs"); -%>

  <form action="/" method="post">
    <label for="movieInput">Movie Title: </label>
    <input id="movieInput" type="text" name="movieName" placeholder="Write here...">
    <button type="submit" class="btn-go">Go</button>
  </form>

<%- include("partials/footer.ejs"); -%>
